<!DOCTYPE HTML>

<html>
	<head>
        <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
		<title>NeverGiveUpThoughts</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="{{ site.baseurl }}/assets/css/ie/html5shiv.js"></script><![endif]-->
		<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/jquery.dropotron.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/skel.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/skel-layers.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/init.js"></script>

		<noscript>
			<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/skel.css" />
			<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
			<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style-wide.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ie/v8.css" /><![endif]-->
		
		
		
	</head>
	<body>

		<!-- Header -->
		
			<div id="header">
						 <div class='body'>
 

				<!-- Logo -->
					<!--<h1 style="color:#217fe5;"><a href="{{ site.baseurl }}/index.html" id="logo">NeverGiveUp Thoughts</a></h1>-->
				<h1 style="color:#217fe5;"><a href="{{ site.baseurl }}/index.html" id="logo">NeverGiveUp Thoughts</a></h1>
				<!-- Nav -->
					<nav id="nav">
                    <img style="float:left;" class="logo" src="assets/images/ngts7.png" alt="logo">
						<ul>
							{% assign current = page.url | downcase | split: '/' %}
							<li {% if current[1] == 'index.html' %}class="current"{% endif %}><a href="{{ site.baseurl }}/index.html"><h3>Home</h3></a></li>
							
							<!--<li {% if current[1] == 'blog' %}class="current"{% endif %}><a href="{{ site.baseurl }}/blog">Blog</a></li>-->
							<li {% if current[1] == 'about.html' %}class="current"{% endif %}><a href="{{ site.baseurl }}/about.html"><h3>About</h3></a></li>
							<li {% if current[1] == 'disclaimer.html' %}class="current"{% endif %}><a href="{{ site.baseurl }}/disclaimer.html"><h3>Disclaimer</h3></a></li>
							<li {% if current[1] == 'privacypolicy.html' %}class="current"{% endif %}><a href="{{ site.baseurl }}/privacypolicy.html"><h3>Privacy policy</h3></a></li>
							<li {% if current[1] == 'contact.html' %}class="current"{% endif %}><a href="{{ site.baseurl }}/contact.html"><h3>Contact</h3></a></li>
						</ul>
					</nav>

			</div>


			
<!-- Banner -->
				<section id="banner">
					<header>
						<h2>Submit Your Motivational Video Form</h2>
						<a href="https://form.jotform.me/80282064743455" class="button">Submit</a>
					</header>
				</section>

			<!-- Highlights -->
				<section class="wrapper style1">
					<div class="container">
						<div class="row 200%">
							<section class="4u 12u(narrower)">
								<div class="box highlight">
									
									<h3><u>How It Works</u></h3>
									<p style="text-align:center">Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
                                    <a href="howitworks.html" class="button">Ckeck Out</a>
								</div>
							</section>
							<section class="4u 12u(narrower)">
								<div class="box highlight">
									
									<h3><u>Motivational Videos</u></h3>
									<p style="text-align:center">Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
                                     <a href="motivationalvideos.html" class="button">Check Out</a>
								</div>
							</section>
							<section class="4u 12u(narrower)">
								<div class="box highlight">
									
									<h3><u>Motivational Blog</u></h3>
									<p style="text-align:center" >Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
                                     <a href="motivationalblog.html" class="button">Check Out</a>
								</div>
							</section>
						</div>
					</div>
				</section>


<!-- Gigantic Heading -->
	<section class="wrapper style2">
		<div class="container">
			<header class="major">
				<h2 style="color:#37c0fb;"><b>Never Give Up!</b></h2>
			    <p><b>"If You Can't Get Miracle, Become One."</b></p>
			</header>
		</div>
	</section>


	
	{% include cta.html %}
